.about {
	position: relative;
	display: flex;
	gap: 1rem;
	flex-direction: column;
	align-items: center;
	font-family: var(--main-font);

	h1 {
		font-size: var(--font-size-greetings);
	}

	p {
		font-size: var(--font-size-description);

		a {
			color: var(--color-links);
		}
	}
}

.skills {
	display: grid;
}

.hard-skill {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;

	img {
		height: 100px;
		width: 100px;
	}
}

hr {
	border: none;
	background-color: var(--color-hr);
	width: var(--common-width);
	height: var(--height-hr);
}
