.about {
	--row-gap: 1em;

	position: relative;
	display: flex;
	row-gap: var(--row-gap);
	flex-direction: column;
	align-items: center;
	font-family: var(--main-font);
	padding-bottom: calc(var(--row-gap) * 2);

	h1 {
		font-size: var(--font-size-greetings);
	}

	p {
		font-size: var(--font-size-description);

		a {
			color: var(--color-links);
		}
	}
}

hr {
	border: none;
	background-color: var(--color-hr);
	width: var(--common-width);
	height: var(--height-hr);
}

.text_block {
	h1 {
		text-align: center;
	}
}

.hard-skills {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.hard-skill {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 0.5rem;

	img {
		max-width: 10em;
		width: 100%;
		object-fit: contain;
		transition: transform var(--transition);
	}

	img:hover {
		transform: var(--scale);
	}
}

.soft_skills {
	--space_pseudo_inline: -1.5em;

	ul {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 1em;
		padding: 0;
		margin: 0;
	}

	li {
		list-style-type: none;
		font-size: var(--font-size-description);
		position: relative;
	}

	li::before,
	li::after {
		content: '';
		display: inline-block;
		width: 1em;
		height: 1em;
		background-image: url('/img/skills/soft-skill.svg');
		background-size: contain;
		position: absolute;
		top: 0.25em;
	}

	li::after {
		right: var(--space_pseudo_inline);
	}

	li::before {
		left: var(--space_pseudo_inline);
	}
}
