#about {
	position: relative;
	z-index: 1;
	width: var(--width-about);
	margin: 0 auto;
	display: flex;
	gap: 1rem;
	flex-direction: column;
	align-items: center;
	font-family: var(--main-font);

	h1 {
		font-size: var(--font-size-h1);
	}

	p {
		font-size: var(--font-size-p);

		a {
			color: var(--color-links);
		}
	}
}

#skills {
	display: grid;
}

.skill {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;

	img {
		height: 100px;
		width: 100px;
	}
}

hr {
	border: none;
	background-color: var(--color-hr);
	width: var(--width-about);
	height: var(--height-hr);
}
