// HTML
html::-webkit-scrollbar {
	width: var(--scrollbar-width);
}

html::-webkit-scrollbar-thumb {
	background-color: var(--color-header);
}

html::-webkit-scrollbar-track {
	background: rgb(176, 177, 238);
	background: linear-gradient(
		180deg,
		var(--color-main) 90%,
		var(--color-header) 90%
	);
}

// HEADER
header {
	position: relative;
	display: flex;
	height: var(--height-right-panel);
	z-index: 100;
	justify-content: space-between;
	filter: drop-shadow(var(--shadow-main));

	&:before {
		content: '';
		position: absolute;
		z-index: -1;
		inset: 0;
		background-color: var(--color-header);
		@include diagonal-container($angle-diagonal, top-right);
	}

	.#{&}__panel {
		height: calc(var(--height-right-panel) * 0.9);
		padding-inline: var(--padding-panel);
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
	}

	a {
		text-shadow: var(--shadow-main);
		text-decoration: none;
		color: var(--color-font-panel);
		font-size: var(--font-size-panel);
		transition: transform var(--transition);
	}
}

.header__panel a:not(.current):hover {
	transform: scale(1.1);
}

//MAIN
main {
	background-color: var(--color-main);
	padding-bottom: var(--footer-height);

	&::before {
		content: '';
		position: absolute;
		inset: 0;
		height: 100%;
		background-color: inherit;
	}
}

// FOOTER
footer {
	height: var(--footer-height);
	width: 100%;
	display: flex;
	position: fixed;
	bottom: 0;
	background-color: var(--color-header);
	color: var(--color-font-panel);
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-shadow: var(--shadow-footer);
	z-index: 1;
}

.links_soc1al {
	ul {
		display: flex;
		column-gap: 1rem;
		margin: 0;
		padding-left: 0;
	}
}

.footer-soc1al-item {
	list-style-type: none;
}

.footer-soc1al-link {
	display: flex;
	width: 50px;
	color: var(--color-font-panel);
}
