html::-webkit-scrollbar {
	width: var(--scrollbar-width);
}

html::-webkit-scrollbar-thumb {
	background-color: var(--color-header);
}

html::-webkit-scrollbar-track {
	background: var(--color-main);
	background: linear-gradient(
		180deg,
		var(--color-main) 95%,
		var(--color-header) 95%
	);
}

body {
	-webkit-user-select: none;
	user-select: none;
	height: 100dvh;
	font-family: var(--main-font);
}

header {
	position: relative;
	display: flex;

	height: var(--height-right-panel);
	z-index: 100;
	justify-content: flex-end;
	filter: drop-shadow(var(--shadow-main));

	&:before {
		content: '';
		position: absolute;
		z-index: -1;
		inset: 0;
		background-color: var(--color-header);
		@include diagonal-container($angle-diagonal, top-right);
	}

	.#{&}__panel {
		height: calc(var(--height-right-panel) * 0.9);
		padding-inline: var(--padding-panel);
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
	}

	a {
		text-shadow: var(--shadow-main);
		text-decoration: none;
		color: var(--color-font-panel);
		font-size: var(--font-size-panel);
		font-family: var(--main-font);
		transition: transform var(--transition);
	}
}

.header__panel a:not(.current):hover {
	transform: var(--scale);
}

main {
	background-color: var(--color-main);
	padding-bottom: var(--footer-height);
	color: var(--color-font-main);

	&::before {
		content: '';
		position: absolute;
		inset: 0;
		height: 100%;
		background-color: inherit;
	}
}

footer {
	font-family: var(--main-font);
	height: var(--footer-height);
	width: 100%;
	display: flex;
	position: fixed;
	bottom: 0;
	background-color: var(--color-header);
	color: var(--color-font-panel);
	align-items: center;
	justify-content: center;
	box-shadow: var(--shadow-footer);
	z-index: 1;
	column-gap: 0.5em;
}

.links_soc1al {
	ul {
		display: flex;
		column-gap: 1rem;
		margin: 0;
		padding-left: 0;
	}
}

.links_soc1al ul,
#year {
	font-size: var(--font-size-footer);
}

.footer-soc1al-item {
	list-style-type: none;
	position: relative;
	display: block;
}

.footer-soc1al-link {
	display: flex;
	width: 2em;
	color: var(--color-font-panel);
}
