.current {
	color: var(--color-current-page);
	border-bottom: 2px solid var(--color-current-page);
}

.main_block_width {
	max-width: var(--common-width);
	width: 100%;
	margin: 0 auto;
}

.center-align {
	text-align: center;
}

.title_h1 {
	font-size: var(--font-size-greetings);
}

.title_h2 {
	font-size: var(--font-size-second);
}
