// шрифты
@font-face {
	font-family: 'Recursive_Monospace';
	src: url(/fonts/Recursive_Monospace-Regular.woff2) format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Wellfleet-Regular';
	src: url(/fonts/Wellfleet-Regular.woff2) format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

:root {
	// цвета

	--color-header: #7d7777;
	--color-links: var(--color-header);
	--color-main: #e7bb2b;
	--color-font-panel: #ffffff;
	--color-font-main: #212121;
	--color-font-features: #f72b2b;
	--color-hr: var(--color-font-main);
	--color-current-page: #e3c154;
	--color-border-avatar: var(--color-header);

	// размеры
	--height-right-panel: 35vh;
	--font-size-panel: calc(var(--height-right-panel) / 8);
	--font-size-greetings: clamp(24px, 5vw, 40px);
	--font-size-second: calc(var(--font-size-greetings) * 0.8);
	--font-size-third: calc(var(--font-size-greetings) * 0.5);
	--font-size-description: calc(var(--font-size-greetings) * 0.6);
	--font-size-name: calc(var(--font-size-greetings) * 2.4);
	--font-size-footer: max(1vw, 2vh);

	--footer-height: 5vh;
	--scrollbar-width: 10px;
	--height-hr: 2px;
	--common-width: 50vw;
	--margin-bottom-projects: 4em;
	--width-project-image: 600px;

	// отступы
	--padding-panel: calc(1vw + 10px);

	// тени
	--shadow-main: 5px 5px 10px rgb(0 0 0 / 0.7);
	--shadow-button-big: 0px 10px 10px rgb(0 0 0 / 0.7);
	--shadow-button-small: 0px 5px 10px rgb(0 0 0 / 0.4);
	--shadow-footer: 5px 5px 20px rgb(0 0 0 / 0.7);

	// рамки
	--border-avatar: 10px solid var(--color-border-avatar);

	// трансформации
	--transition: 0.2s;
	--scale: scale(1.1);

	// шрифты
	--main-font: Wellfleet-Regular, sans-serif;
	--second-font: 'Recursive_Monospace', monospace;
}

// угол поворота диагонального окна
$angle-diagonal: 35deg;

//количество проектов на последней странице
$project-images: 4;

//количество карточек проектов
$project-count: 4;
