:root {
	// цвета
	--color-header: #333474;
	--color-main: #e7bb2b;
	--color-font-panel: #ffffff;
	--color-font-main: #000000;
	--color-current-page: #f1bd13;
	--color-border-avatar: #ffffff93;

	// размеры
	--height-right-panel: 35vh;
	--font-size-panel: calc(var(--height-right-panel) / 8);
	--font-size-greetings: 2vw;
	--font-size-name: calc(var(--font-size-greetings) * 2.5);
	--font-size-description: calc(var(--font-size-greetings) * 0.7);
	--footer-height: 10vh;
	--scrollbar-width: 10px;

	// отступы
	--padding-panel: calc(1vw + 10px);

	// тени
	--shadow-main: 5px 5px 10px rgb(0 0 0 / 0.7);
	--shadow-footer: 5px 5px 20px rgb(0 0 0 / 0.7);

	// рамки
	--border-avatar: 10px solid var(--color-border-avatar);

	// трансформации
	--transition: 0.2s;
}

// угол поворота диагонального окна
$angle-diagonal: 35deg;
