.home_information {
	max-width: 50vw;
	width: 100%;
	margin: 0 auto;
}

.avatar {
	position: relative;
	width: 200px;
	margin-bottom: 24px;

	img {
		border-radius: 15% 85% 20% 80% / 85% 20% 80% 15%;
		border: var(--border-avatar);
		transition: all 0.2s;
	}
}

.avatar img:hover {
	border-radius: 85% 15% 85% 15% / 15% 85% 15% 85%;
}

.greeting {
	position: relative;
	--text-length: 10.2ch; // длина текста в символах
	--animation-delay: 3s; //задержка для анимации между строками текста

	p {
		margin: 0;
	}

	p:first-child {
		width: var(--text-length);
		font-family: monospace;
		font-size: var(--font-size-greetings);
		font-size: 30px;
		overflow: hidden;
		white-space: nowrap;
		border-right: 0.12em solid black;

		animation:
			cursor 0.75s step-end infinite,
			printed_text var(--animation-delay) steps(10);
	}

	p:nth-child(2) {
		font-size: var(--font-size-name);
		line-height: 1.2;
		animation-delay: calc(var(--animation-delay) + 1s);
	}

	p:last-child {
		font-size: var(--font-size-description);
	}
}
