.avatar {
	position: relative;
	width: 200px;
	margin-bottom: 24px;

	img {
		border-radius: 15% 85% 20% 80% / 85% 20% 80% 15%;
		border: var(--border-avatar);
		transition: all 0.2s;
	}
}

.avatar img:hover {
	border-radius: 85% 15% 85% 15% / 15% 85% 15% 85%;
}

.greeting {
	position: relative;
	--animation-steps: 10;
	--animation-duration: 3s;
	--border-width: 0.07em;
	--animation-delay: calc(var(--animation-duration) + 0.2s);

	div p {
		margin: 0;
		font-family: var(--second-font);
		box-sizing: content-box;
	}

	& > p {
		font-size: var(--font-size-description);
		color: transparent;
		animation: text_appearance calc(var(--animation-duration) / 1.5) linear 5.2s
			forwards;
	}
}

.container_animation_first p {
	font-size: var(--font-size-greetings);
	border-right: var(--border-width) solid var(--color-font-main);

	animation:
		cursor 0.75s step-end,
		printed_text var(--animation-duration) steps(var(--animation-steps)),
		cursor_off 0.2s linear var(--animation-delay) forwards;
}

.container_animation_first,
.container_animation_second {
	display: inline-block;

	p {
		overflow: hidden;
		white-space: nowrap;
	}
}

.container_animation_second {
	--animation-steps: 6;
	--animation-duration: 1.8s;

	p {
		width: 0;
		font-size: var(--font-size-name);
		line-height: 1.1;
		border-right: var(--border-width) solid transparent;

		animation:
			cursor 0.75s step-end var(--animation-delay) infinite,
			printed_text var(--animation-duration) var(--animation-delay)
				steps(var(--animation-steps)) forwards;
	}
}
