.home_information {
	max-width: 50vw;
	width: 100%;
	margin: 0 auto;
}

.avatar {
	position: relative;
	width: 200px;
	margin-bottom: 24px;

	img {
		border-radius: 15% 85% 20% 80% / 85% 20% 80% 15%;
		border: var(--border-avatar);
		transition: all 0.2s;
	}
}

.avatar img:hover {
	border-radius: 85% 15% 85% 15% / 15% 85% 15% 85%;
}

.greeting {
	position: relative;

	p {
		margin: 0;
	}

	p:first-child {
		font-size: 40px;
	}

	p:nth-child(2) {
		font-size: 96px;
	}

	p:last-child {
		font-size: 24px;
	}
}
