@media (max-width: 1200px) {
	.home_information {
		max-width: 70vw;
	}

	.main_block_width {
		max-width: calc(var(--common-width) + 20vw);
	}
}

@media (max-width: 800px) {
	header {
		--height-right-panel: 25vh;
		--font-size-panel: 2em;

		.#{&}__panel {
			height: calc(var(--height-right-panel) * 0.7);
		}
	}

	.project {
		display: flex;
		flex-direction: column-reverse;
		row-gap: 5em;
		align-items: center;
	}

	.project_field {
		--common-width: 50vw;
		h1 {
			margin-bottom: calc(var(--margin-bottom-projects) / 4);
		}
	}

	.name {
		text-align: center;
	}

	.buttons_section {
		justify-content: center;

		form {
			flex-grow: 1;

			button {
				width: 100%;
			}
		}
	}
}

@media (max-height: 800px) and (orientation: landscape) {
	footer {
		column-gap: 5em;
		flex-direction: row;
	}
}

@media (max-width: 576px) {
	header {
		--height-right-panel: 20vh;
		// --font-size-panel: 2em;

		justify-content: center;

		.#{&}__panel {
			flex-direction: row;

			align-items: flex-start;
			gap: 1em;

			a {
				font-size: 8vw;
			}
		}
	}

	.project_field {
		--common-width: 70vw;
	}

	.hard-skills {
		grid-template-columns: repeat(2, 1fr);
	}

	.header__panel {
		margin-top: 0.5em;
	}
}

// запуск анимации только при наведении мышкой
@media (hover: hover) {
	.footer-soc1al-item:hover {
		animation: jump 0.8s cubic-bezier(0.4, 0, 1, 1) infinite;
	}
}
