.project_field {
	position: relative;
}

.project_image_container {
	@include project-images($project-images);

	div {
		&:hover {
			background: none;
		}

		&:hover img {
			visibility: visible;
		}

		img {
			visibility: hidden;
		}
	}
}
