// настройки карточек проектов - текст, изображения

.project_field {
	--common-width: 70vw;

	position: relative;

	h1,
	.all_projects_field {
		margin-bottom: calc(var(--margin-bottom-projects) / 2);
	}
}

.project {
	display: grid;
	grid-template-columns: 6fr 5fr;
	column-gap: 1em;
	justify-items: center;
	margin-bottom: var(--margin-bottom-projects);
}

.project_image_container {
	& > div:last-child {
		&:hover {
			background: none;

			img {
				visibility: visible;
			}
		}

		img {
			position: relative;
			transform: scale(0.71, 0.82) translateY(-3%);
		}
	}
}

.project_description h2 + p {
	font-size: var(--font-size-description);

	& + p {
		font-size: var(--font-size-third);
	}
}

.frame {
	position: absolute;
	max-width: var(--width-project-image);
}

//  span
.project_features {
	color: var(--color-font-features);

	& + a {
		color: var(--color-links);
	}
}

.name_project {
	font-family: var(--second-font);
}

.project_features,
.name_project {
	font-weight: bold;
}

// Кнопки и поля с ними
.buttons_section {
	display: flex;
	column-gap: 2em;

	button {
		width: 5em;
	}
}

.button {
	border-radius: 20px;
	border: 3px solid var(--color-font-main);
	background-color: var(--color-header);
	color: var(--color-font-panel);
	font-size: var(--font-size-description);
	outline: none;
	transition: all var(--transition);

	&:hover {
		background-color: #00000000;
		color: var(--color-font-main);
		transform: translateY(-3px);
		box-shadow: var(--shadow-button-big);
	}

	&:active {
		transform: translateY(-1px);
		box-shadow: var(--shadow-button-small);
	}
}

.all_projects_field {
	display: flex;
	justify-content: center;
}

.all_projects_button {
	padding-inline: 1em;
}
