.project_field {
	--common-width: 70vw;

	position: relative;
}

.project_image_container {
	& > div:last-child {
		&:hover {
			background: none;

			img {
				visibility: visible;
			}
		}

		img {
			position: relative;
			transform: scale(0.71, 0.82) translateY(-3%);
		}
	}
}

.frame {
	position: absolute;
}

.project {
	display: grid;
	grid-template-columns: 6fr 5fr;
	column-gap: 1em;
	margin-bottom: 4em;
}
