* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

// переменные css
:root {
	// цвета
	--color-header: rgb(51, 52, 116);
	--color-main: rgb(176, 177, 238);
	--color-font-panel: white;
	--color-font-main: black;
	--color-current-page: rgb(153, 204, 255);
	--color-border-avatar: rgba(255, 255, 255, 0.575);

	// размеры
	--height-right-panel: 35vh;
	--font-size-panel: calc(var(--height-right-panel) / 8);
	--font-size-greetings: 2vw;
	--font-size-name: calc(var(--font-size-greetings) * 2.5);
	--font-size-description: calc(var(--font-size-greetings) * 0.7);

	// отступы
	--padding-panel: 0 calc(1vw + 10px);

	// тени
	--shadow-main: 5px 5px 10px rgba(0, 0, 0, 0.7);
	--shadow-footer: 5px 5px 20px rgba(0, 0, 0, 0.7);

	// рамки
	--border-avatar: 7px solid var(--color-border-avatar);
}

// переменные sass
$angle-diagonal: 35deg;

// миксин для генерации угла
@mixin diagonal-container($angle, $direction) {
	$points: ();
	$percent-width: tan($angle) * 100;
	$percent-height: tan($angle) * 100;
	@if $direction == top-left {
		$points: (0 0, 100% 0, 100% $percent-width, 0% 100%);
	} @else if $direction == top-right {
		$points: (0 0, 100% 0, 100% 100%, 0% (100% - $percent-width));
	} @else if $direction == bottom-left {
		$points: (0 0, 100% ($percent-height - 100%), 100% 100%, 0% 100%);
	} @else if $direction == bottom-right {
		$points: (0 ($percent-height - 100%), 100% 0, 100% 100%, 0% 100%);
	}
	clip-path: polygon($points);
}

// значок переключения тёмной темы с анимацией
// .theme_toggler {
// 	height: 10%;
// 	width: 100px;
// 	background-color: var(--color-font-panel);
// 	border-radius: 50px;
// 	margin: 2vh;
// }

// верх страницы (диагональный)
header {
	position: relative;
	display: flex;
	height: var(--height-right-panel);
	z-index: 2;
	align-items: stretch;
	justify-content: space-between;
	filter: drop-shadow(var(--shadow-main));

	&:before {
		position: absolute;
		z-index: -1;
		inset: 0;
		background-color: var(--color-header);
		@include diagonal-container($angle-diagonal, top-right);
		content: '';
	}

	.#{&}__panel {
		height: calc(var(--height-right-panel) * 0.9);
		padding: var(--padding-panel);
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
	}

	a {
		text-shadow: var(--shadow-main);
		text-decoration: none;
		color: var(--color-font-panel);
		font-size: var(--font-size-panel);
		transition: transform 0.5s;

		&:hover {
			transform: scale(1.1);
		}
	}
}

.current {
	color: var(--color-current-page);
}

//основная страница

main {
	position: relative;
	background-color: var(--color-main);
	min-height: 70vh;
	z-index: 1;

	&::before {
		content: '';
		position: absolute;
		background-color: var(--color-main);
		inset: calc(var(--height-right-panel) * -1) 0 0 0;
		z-index: 1;
	}
}

#short_information {
	width: 50vw;
	margin: 0 auto;
}

.main_block {
	color: var(--color-font-main);
	position: relative;
	z-index: 1;
}

.greetings {
	font-size: var(--font-size-greetings);
}

.name {
	font-size: var(--font-size-name);
}

.description {
	font-size: var(--font-size-description);
}

#avatar {
	position: relative;
	z-index: 1;
	// margin-left: var(--margin-avatar);
	width: 200px;
	img {
		border-radius: 50%;
		border: var(--border-avatar);
	}
}

// низ страницы
.links_social {
	display: flex;
	gap: 1rem;

	a {
		color: var(--color-font-panel);
		text-decoration: none;

		transition: transform 0.5s;

		&:hover {
			transform: scale(1.1);
		}

		img {
			width: 5vh;
			height: 5vh;
		}
	}
}

footer {
	height: 10vh;
	width: 100%;
	display: flex;
	gap: 0.5rem;
	position: fixed;
	// left: 0;
	bottom: 0;
	z-index: 1;
	background-color: var(--color-header);
	color: var(--color-font-panel);
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: var(--shadow-footer);
}
